name : Deploy Jar to AWS S3
on :
  push:
    branches:
      - back-main
jobs :
  buildAndDeploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run the Maven verify phase
        working-directory: ./Backend
        run: mvn install -DskipTests

      - name: Copy Jar
        working-directory: ./Backend
        run: cp ./target/solsol**.jar ./app.jar

      - name: Zip Files
        working-directory: ./Backend
        run: zip -r ChatSpringApp.zip ./app.jar ./scripts/* ./appspec.yml

      - name: Chat AWS S3 Bucket
        uses: aws-actions/configure-aws-credentials@v1
        run : aws s3 ls

      - name: Set AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          aws-region: ap-northeast-2

      - name: Upload Jar Compose to S3
        run: |
          aws s3 cp ChatSpringApp.zip s3://jar-deploy-sol-kimjang
